.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 1rem;
}
.navbar-container {
  background-color: #ffe53b;
  background-image: linear-gradient(
    237deg,
    #ff25259d 74%,
    #ffe53b 0%,
    #ff2525 74%
  );
  box-shadow: 0 3px 4px #ff7b0077;
}
.title {
  color: rgb(255, 255, 255);
}
.btn-color {
  color: #ffffffa6;
  background-color: transparent;
}
.btn-color:hover {
  background-color: #ff25259d;
  border: none;
}
.App {
  min-height: 100vh;
  background-color: #ff676777;
  background-image: linear-gradient(90deg, #ffb96aa9 0%, #fcff506c 100%);
}
.icon-dis {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-float {
  float: right;
}
.page-title {
  color: #555;
  text-transform: uppercase;
}
.dashboard-card {
  border-radius: 0.5rem;
}
.btn-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5rem;
}
.form-container {
  display: flex;
  justify-content: center;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container-primary {
  width: 20%;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.image-container {
  width: 200;
  height: 200;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  text-align: center;
}
.card-name,
.card-age,
.card-mail,
.card-desc {
  color: #555;
}
.loading {
  display: flex;
  min-height: 75vh;
  justify-content: center;
  align-items: center;
}
.theader {
  color: #555;
}
